<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qibing_zidan_2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{106,-117}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{178,384},{84,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qibing_zidan_2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-103}</string>
                <key>spriteSize</key>
                <string>{172,102}</string>
                <key>spriteSourceSize</key>
                <string>{172,102}</string>
                <key>textureRect</key>
                <string>{{378,186},{172,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qibing_zidan_2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-96}</string>
                <key>spriteSize</key>
                <string>{190,128}</string>
                <key>spriteSourceSize</key>
                <string>{190,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-78}</string>
                <key>spriteSize</key>
                <string>{188,154}</string>
                <key>spriteSourceSize</key>
                <string>{188,154}</string>
                <key>textureRect</key>
                <string>{{190,0},{188,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-82}</string>
                <key>spriteSize</key>
                <string>{186,148}</string>
                <key>spriteSourceSize</key>
                <string>{186,148}</string>
                <key>textureRect</key>
                <string>{{0,128},{186,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-87}</string>
                <key>spriteSize</key>
                <string>{186,138}</string>
                <key>spriteSourceSize</key>
                <string>{186,138}</string>
                <key>textureRect</key>
                <string>{{186,154},{186,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-99}</string>
                <key>spriteSize</key>
                <string>{186,108}</string>
                <key>spriteSourceSize</key>
                <string>{186,108}</string>
                <key>textureRect</key>
                <string>{{378,0},{186,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qibing_zidan_2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-102}</string>
                <key>spriteSize</key>
                <string>{186,102}</string>
                <key>spriteSourceSize</key>
                <string>{186,102}</string>
                <key>textureRect</key>
                <string>{{0,276},{186,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-108}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{184,92}</string>
                <key>textureRect</key>
                <string>{{186,292},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-113}</string>
                <key>spriteSize</key>
                <string>{178,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,86}</string>
                <key>textureRect</key>
                <string>{{0,378},{178,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,-115}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{258,384},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,-119}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{328,384},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,-124}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{398,358},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,-125}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{398,420},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qibing_zidan_2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,-132}</string>
                <key>spriteSize</key>
                <string>{6,36}</string>
                <key>spriteSourceSize</key>
                <string>{6,36}</string>
                <key>textureRect</key>
                <string>{{372,154},{6,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qibing_zidan_2.png</string>
            <key>size</key>
            <string>{486,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ead8dc47f5dcfcc7cff388e750848f:75b4a5b61dc9e44238f15f0666a158c9:565ce1eefcb1c1e9c5e14289666ef40b$</string>
            <key>textureFileName</key>
            <string>qibing_zidan_2.png</string>
        </dict>
    </dict>
</plist>
