<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing_daoguang_3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,-53}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,102}</string>
                <key>textureRect</key>
                <string>{{0,312},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing_daoguang_3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,-53}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,102}</string>
                <key>textureRect</key>
                <string>{{0,414},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing_daoguang_3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,-43}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{0,1152},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing_daoguang_3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,-43}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{0,1284},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing_daoguang_3_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,-66}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{102,128}</string>
                <key>textureRect</key>
                <string>{{0,516},{102,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,-66}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{102,128}</string>
                <key>textureRect</key>
                <string>{{0,618},{102,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-66}</string>
                <key>spriteSize</key>
                <string>{108,126}</string>
                <key>spriteSourceSize</key>
                <string>{108,126}</string>
                <key>textureRect</key>
                <string>{{0,720},{108,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-66}</string>
                <key>spriteSize</key>
                <string>{108,126}</string>
                <key>spriteSourceSize</key>
                <string>{108,126}</string>
                <key>textureRect</key>
                <string>{{0,828},{108,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-70}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{0,936},{108,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-70}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{0,1044},{108,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{140,-87}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,104}</string>
                <key>textureRect</key>
                <string>{{0,124},{94,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{140,-87}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,104}</string>
                <key>textureRect</key>
                <string>{{0,218},{94,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,-133}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{72,56}</string>
                <key>textureRect</key>
                <string>{{0,50},{72,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubing_daoguang_3_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,-133}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{72,56}</string>
                <key>textureRect</key>
                <string>{{56,68},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing_daoguang_3_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,-139}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing_daoguang_3_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,-139}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{68,0},{68,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubing_daoguang.png</string>
            <key>size</key>
            <string>{128,1416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e04e908a17439580c25ff0c956df63:11d652f855578d703505fc0a5d0e5cd6:559da71b2f31a4a75705410919c2018f$</string>
            <key>textureFileName</key>
            <string>bubing_daoguang.png</string>
        </dict>
    </dict>
</plist>
